body {
    background-color: #67828f;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .header {
    background-color: #d2d2cf;
    padding: 20px;
    text-align: center;
  }
  
  .list-section {
    background-color: #d2d2cf;
    padding: 15px;
    margin: 20px;
  }
  
  .video-section, .tableau-section {
    background-color: #d2d2cf;
    padding: 15px;
    margin: 20px;
  }

  img{
    display: block;
    width: 20%;
    padding: 10px;
}